* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background: radial-gradient(circle, rgba(151, 86, 237, 1) 0%, rgba(24, 23, 73, 1) 100%);
    justify-content: space-evenly;
}

#container div {
    margin: 20px;
}

.self-img {
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
}

.self-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s;
}

.self-img:hover img {
    scale: 1.2;
}

.bg-blur-effect {
    height: 350px;
    width: 300px;
    background-image: url(images/self-2.jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
}

.bg-blur-effect h1 {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    backdrop-filter: blur(5px);
}

.bg-img-text {
    border: 1px solid white;
    border-radius: 10px;
    height: 350px;
    width: 350px;
    background-image: url(https://images.unsplash.com/photo-1704739300067-0cfbf8eb8bd3?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.bg-img-text h1 {
    text-align: center;
}

#colorAnimationJS {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#colorAnimationJS:hover {
    color: white;
}

#colorAnimationJS h1 {
    text-align: center;
}

#closureImplementation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid black;
}

#closureImplementation button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

#glowEffect {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#glowEffect h1 {
    font-size: 90px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, red, blue);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0 0 60px rgba(255, 0, 0, 0.589);
    animation: anime 1s infinite alternate;
}

@keyframes anime {
    100% {
        text-shadow: 0 0 60px rgba(0, 0, 255, 0.594);
    }
}

#neumorphism {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

#neumorphism div {
    font-size: 20px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: #c1c1c1;
    text-align: center;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.4), inset -20px -20px 60px rgba(255, 255, 255, 0.4);
}

#eventBubbling,
#eventCapturing {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#eventBubbling .div1,
#eventCapturing .div1 {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#eventBubbling .div2,
#eventCapturing .div2 {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: orange;
}